body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.nav-bar{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo-container{
    background-image: url('logos/logo.png');
    background-size: cover;
    height: 70px;
    width: 140px;
}
.nav-details{
    color: white;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    gap:6px;
}
.nav-details a{
    color: white;
    text-decoration: none;
}
.nav-details a:hover{
    cursor:pointer;
    border: 1px solid white;
    padding:2px;
    border-radius: 4px;
}
.nav-icons{
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 10%;  
}
.nav-icons i:hover{
    cursor: pointer;
    color:chocolate;
}
.nav-order{
    color: white;
    background-color: orange;
    height: 30px;
    width: 8%;
    border-radius: 5px;
}
.nav-order p{
    text-align: center;
    line-height: 30px;
    margin: 0;
}
.nav-order:hover{
    cursor:pointer;
    color: chocolate;
}


/**Hero Section**/
.hero-section{
    height: 500px;
    width: 100%;
    padding: 10px;

}
.hero-image{
    height: 450px;
    width: 98%;
    background-image: url("heroimages/aboutPage.jpg");
    background-size: cover;
    border-radius: 5px;
    border-bottom: 40px;
    border: 10px solid rgb(68, 68, 68);
    
}

/** Contact Box **/
.about-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 15px;
}

.info{
    height: 250px;
    width: 1100px;
    margin-left: 25px;
    
}

.heading h2{
    color: rgb(60, 10, 6);
    font-size: 30px;
    text-align: center;
}
.hr-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.para-detail{
    text-align: center;
}
.contact-details{
    height: 200px;
    width: 300px;
    background-color:rgb(60, 10, 6);
    margin-right: 35px;
    border-radius: 4px;
    
    
}
.con-heading{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: -15px;
}
hr{
    margin-top: -15px;
}

.phone-details{
    color: white;
    text-align: center;
    margin-top: -10px;
}
.phone{
    font-weight: lighter;
    color: rgb(212, 210, 210);
}
.ph-no{
    font-size: 20px;
    margin-top: -12px;
}

.em-details{
    color: white;
    text-align: center;
    margin-top: -10px;
}
.email-der{
    margin-top: -10px;
    color: orangered;
}
.add-details{
    color: white;
    text-align: center;
    margin-top: -10px;
}
.address{
    margin-top: -10px;
}


/* FOOTER */

footer{
    margin-top: 200px;
background:black;
color:white;
padding:30px;
}

.footer-details{
display:flex;
justify-content:space-evenly;
flex-wrap:wrap;
margin-top:30px;
margin-bottom: 10px;
}

footer h3{
color:orange;
}

.subscribe{
display:flex;
flex-direction:column;
gap:10px;
}

.butsub{
background:orange;
border:none;
padding:8px;
color:white;
}

.footer-end{
display:flex;
justify-content:space-between;
margin-top:20px;
flex-wrap:wrap;
}

.icons{
margin-left: 60px;
display:flex;
gap:20px;
color: orange;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
    text-align: center;
}

.footer-logo h2{
    margin: 0;
}

.footer-logo p{
    margin: 5px 0 0;
}
